.register{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    &__title{
        font-size: 32px;
        margin-bottom: 40px;
    }
    &__form{
        width: 40%;
        padding: 20px;
        box-shadow:  0 0 3px rgba($color: #000000, $alpha: 0.5);
        &__item{
            display: flex;
            flex-direction: column;
            margin: 20px;
            &__input{
                padding: 10px;
                background-color: #eee;
                margin-top: 5px;
            }
            &__button{
                background-color: #000000;
                color: #eee;
                padding: 10px ;
                width: 100%;
            }
        }
    }
}